@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.LoginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 320px) {
    .Rectangle-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 656px;
        background-image: linear-gradient(to bottom, #f9f9f9 2%, #afafaf 100%);
    }

    .Rectangle-5 {
        width: 225px;
        height: 431px;
        flex-grow: 0;
        margin: auto;
        border-radius: 20px;
        box-shadow: 44px 50px 124.8px 0 rgba(0, 0, 0, 0.39);
        border-style: solid;
        border-width: 5px;
        border-image-source: linear-gradient(137deg, #aeaeae 2%, #fff 78%);
        border-image-slice: 1;
        background-image: linear-gradient(to bottom, #fdfdfd 50%, #c3c3c3), linear-gradient(137deg, #aeaeae 2%, #fff 78%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .Login {
        width: 205px;
        height: 52px;
        flex-grow: 0;
        margin: 1rem;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: 'Bebas Neue', sans-serif;
        font-size: 53px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.77;
        letter-spacing: -1.59px;
        text-align: center;
        color: #000;
    }

    .white-wale-logo {
        width: 167px;
        height: 26px;
        margin: 1rem;
    }

    .input-des {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }

    .input-des label {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    .input-des input {
        width: 143px;
        height: 28px;
        flex-grow: 0;
        margin: 11px 0 0;
        border: none;
        border-radius: 20px;
        box-shadow: 7px 4px 10.9px 2px rgba(0, 0, 0, 0.12);
        background-image: radial-gradient(circle at 50% 50%, #fff, #e9e9e9 98%);
    }

    .Login-Button {
        width: 165px;
        height: 33px;
        flex-grow: 0;
        margin: 1rem;
        border: none;
        border-radius: 20px;
        box-shadow: 7px 4px 10.9px 2px rgba(0, 0, 0, 0.12);
        background-image: radial-gradient(circle at 50% 50%, #fff, #e9e9e9 98%);
        font-family: 'bebas neue';
        line-height: 0;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 20px;
        font-style: normal;
        letter-spacing: 5.2px;
        color: #868181;
    }

    .sign-in-des {
        font-family: 'Poppins', sans-serif;
        margin: 1rem;
        font-size: 0.9rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #000;
    }

    .Register-Button {
        width: 172px;
        height: 34px;
        flex-grow: 0;
        margin: auto;
        border-radius: 20px;
        box-shadow: 7px 4px 10.9px 2px rgba(0, 0, 0, 0.12);
        background-image: radial-gradient(circle at 50% 50%, #fff, #e9e9e9 98%);
        font-family: 'bebas neue';
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 20px;
        line-height: 0;
        letter-spacing: 5.2px;
        color: #868181;

    }

    .sign-in-div {
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .Rectangle-1 {
        
        height: 1080px;
        flex-grow: 0;
        padding: 1rem;

    }

    .Rectangle-5 {
        width: 463.2px;
        height: 643px;
        box-shadow: 44px 50px 124.8px 0 rgba(0, 0, 0, 0.39);
        border-style: solid;
        border-width: 10px;
        border-image-source: linear-gradient(128deg, #aeaeae 2%, #fff 86%);
        border-image-slice: 1;
        background-image: linear-gradient(to bottom, #fdfdfd 60%, #c3c3c3), linear-gradient(128deg, #aeaeae 2%, #fff 86%);
        background-origin: border-box;
        background-clip: content-box, border-box;
    }

    .Login {
        width: 521.4px;
        height: 52.2px;
        flex-grow: 0;
        font-size: 89px;
    }

    .white-wale-logo {
        width: 346.8px;
        height: 54.8px;
    }

    .input-des {
        margin: 2rem;
    }

    .input-des label {
        font-family: 'Poppins', sans-serif;
        width: 130.1px;
        height: 21.4px;
        flex-grow: 0;
        font-size: 19px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: center;
        color: #000;
    }

    .input-des input {
        width: 219.2px;
        height: 43.7px;
    }

    .Login-Button {
        width: 256px;
        height: 50.5px;
        font-size: 31px;
    }

    .sign-in-div {
        width: 768px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .sign-in-des {
        width: 544.9px;
        height: 97px;
        font-size: 1.5rem;
        margin: auto;
    }

    .Register-Button {
        width: 263.6px;
        height: 52px;
        font-size: 31px;
    }
}

@media screen and (min-width: 1024px) {
    .Rectangle-1 {
        width: 1920px;
        height: 1080px;
        padding: 1rem;
        flex-direction: row-reverse;
    }

    .Rectangle-5 {
        width: 541px;
        height: 751px;
        margin: 2rem;
    }

    .sign-in-des {
        width: 618px;
        height: 110px;
        font-size: 1.5rem;
        margin: auto;
    }

    .Register-Button {
        width: 299px;
        height: 59px;
        font-size: 31px;
        margin: 0 151px;
        position: relative;
        bottom: 450px;
    }

    .sign-in-div {
        position: relative;
        bottom: 100px;
    }

    .white-wale-logo {
        width: 405px;
        height: 64px;
        flex-grow: 0;
        margin: 3rem;
    }

    .Login {
        width: 609px;
        height: 61px;
        flex-grow: 0;
        margin: 3rem;
    }
}